@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }

  a {
    @apply text-slate-900 underline-offset-4 hover:underline;
  }
}
